/******************* GENERAL STYLES ******************/
:root {
    /* Background colors */
    --primary-bg-color: #fee9ed;
    --secondary-bg-color: whitesmoke;
    --header-footer-color: #322540;

    /* Other colors */
    --canvas-border-color: lightgray;

    /* Font colors */
    --primary-font-color: #fdc4c5;

    /* Font families */
    --Chelsea-Market: 'Chelsea Market', cursive, sans-serif;
}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/******************* CONTENT STYLES *****************/
body {
    background-color: var(--primary-bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    /* max-width: 915px; */
    display: flex;
    flex-direction: column;
    align-items: center;   
    overflow: hidden; /* For border-radius to work */
    border-radius: 0.937rem;
    box-shadow: gray 0 0 10px 2px;    
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--header-footer-color);
    padding: 2.187rem 0;
}

header h1 {
    font-family: var(--Chelsea-Market);
    text-align: center;
    color: var(--primary-font-color);
}

/* MAIN AND SECTION CONTENT */
main {
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 1.875rem 0;
    display: flex;
    flex-direction: column; 
    /* justify-content: space-evenly;  */
}

section {
    margin-bottom: 1.875rem;
}

section:last-of-type {
    margin-bottom: 0;
}

#canvas-controls-section legend {
    font-size: 1.25rem;
    text-align: center;
}

#canvas-controls-section fieldset {    
    max-width: 288px;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;    
}

.ctrls-group {    
    display: flex;    
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.ctrls-group:last-of-type {
    margin-bottom: 0;
}

.ctrls-group select,
.ctrls-group button {
    font-size: 1rem;    
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    border: 1px solid gray;
}

.ctrls-group #color-picker {
    border-radius: 0.3125rem;    
}

/* DRAWING BOARD SECTION */
#drawing-board-section {         
    width: 500px;
    height: 500px;
    background-image: url("../images/canvas.png");
    background-size: cover;    
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: lightgray 0 0 10px 2px;   
    padding: 4px;
}

#canvas {
    height: 100%;    
    display: grid;    
}

.rainbow-on {       
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, purple) 1; 
    color: blue;
}

.eraser-on {
    border: 2px solid red;
    color: red;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #322540; 
    padding: 25px 0;   
    text-align: center;
    color: #fdc4c5;
}