/******************* GENERAL STYLES ******************/
:root {
    /* Background colors */
    --primary-bg-color: #fee9ed;
    --secondary-bg-color: whitesmoke;
    --header-footer-color: #322540;

    /* Other colors */
    --canvas-border-color: lightgray;
    --eraser-color: red;

    /* Font colors */
    --primary-font-color: #fdc4c5;

    /* Font families */
    --Chelsea-Market: 'Chelsea Market', cursive, sans-serif;
}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/******************* CONTENT STYLES *****************/
body {
    background-color: var(--primary-bg-color);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg-color);
    box-shadow: gray 0 0 0.625rem 0.125rem;
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--header-footer-color);
    padding: 1.5rem 0;
}

header h1 {
    font-family: var(--Chelsea-Market);
    text-align: center;
    color: var(--primary-font-color);
}

/* MAIN AND SECTION CONTENT */
main {
    width: 100%;    
    padding: 1.5rem 0;    
    display: flex;
    flex-direction: column;    
}

section {
    margin-bottom: 1.5rem;
}

section:last-of-type {
    margin-bottom: 0;
}

#canvas-controls-section legend {
    font-size: 1.25rem;
    text-align: center;
}

#canvas-controls-section fieldset {    
    max-width: 288px;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;    
}

.ctrls-group {    
    display: flex;    
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.ctrls-group:last-of-type {
    margin-bottom: 0;
}

.ctrls-group select,
.ctrls-group button {
    font-size: 1rem;    
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    border: 0.125rem solid gray;
}

.ctrls-group #color-picker {
    border-radius: 0.3125rem;    
}

.ctrls-group select:hover,
.ctrls-group button:hover,
.ctrls-group #color-picker:hover {
    box-shadow: var(--primary-font-color) 0 0 0.3rem 0.2rem;
}

/* DRAWING BOARD SECTION */
#drawing-board-section {             
    width: 94%;   
    aspect-ratio: 1/1; /* For height to grow proportionally to width */
    height: 100%;
    margin: 0 auto;    
    background-image: url("../images/canvas.png");
    background-size: cover;    
    border: 0.0625rem solid var(--canvas-border-color);
    border-radius: 1rem;
    overflow: hidden; /* For border-radius to work */
    box-shadow: gray 0 0 0.625rem 0.125rem; 
}

#canvas {
    height: 100%;    
    display: grid;    
}

.ctrls-group .rainbow-on {       
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, purple) 1; 
    color: blue;
}

.ctrls-group .eraser-on {
    border: 0.125rem solid var(--eraser-color);
    color: var(--eraser-color);
}

/* FOOTER */
footer {
    width: 100%;
    background-color: var(--header-footer-color); 
    padding: 1.5rem 0;
    text-align: center;    
    font-size: 0.75rem;
}

footer p {
    margin-bottom: 1rem;
}

footer p:last-of-type {
    margin-bottom: 0;
}

footer p,
footer a {
    color: var(--primary-font-color);
}


/****************************** RESPONSIVE DESIGN ***********************/
/* Very Small phones */
@media only screen and (max-width: 330px){
    #canvas-controls-section fieldset {
        border: none;
    }
}

/* TABLET */
@media only screen and (min-width: 426px) {
    html {
        font-size: 18px;
    }

    #canvas-controls-section fieldset {    
        max-width: 325px;
    }
}

/* LAPTOP */
@media only screen and (min-width: 900px) {
    main {
        flex-direction: row;
        padding: 1rem;
        gap: 1rem;
    }

    #canvas-controls-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
}

/* LAPTOP L and UP */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
    }

    main {
        padding: 1.5rem;
    }

    #canvas-controls-section fieldset {    
        max-width: 357px;
    }

    #drawing-board-section {
        max-width: 745px;
    }
}