/******************* GENERAL STYLES ******************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/******************* CONTENT STYLES *****************/
body {
    background-color: #fee9ed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 915px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    overflow: hidden; /* For border-radius to work */
    border-radius: 15px;
    box-shadow: gray 0 0 10px 2px;    
}

/* HEADER */
header {
    width: 100%;
    background-color: #322540;
    padding: 35px 0;      
}

header h1 {
    font-family: 'Chelsea Market', cursive, sans-serif;
    text-align: center;
    color: #fdc4c5;
}

/* MAIN CONTENT */
main {
    width: 100%;
    background-color: whitesmoke;
    padding: 30px 0;
    display: flex;    
    justify-content: space-evenly;  
}

/* CANVAS CONTROLS SECTION */
#canvas-controls-section {
    width: 330px;    
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#canvas-controls-section legend {
    font-size: 20px;
    text-align: center;
}

#canvas-controls-section fieldset {
    padding: 30px;
    display: flex;
    flex-direction: column;    
    gap: 30px;
}

.ctrls-group {    
    display: flex;    
    align-items: center;   
    gap: 7%; 
}

.ctrls-group select, .ctrls-group button {
    font-size: 16px;    
    padding: 5px 10px;
}

/* DRAWING BOARD SECTION */
#drawing-board-section {         
    width: 500px;
    height: 500px;
    background-image: url("../images/canvas.png");
    background-size: cover;    
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: lightgray 0 0 10px 2px;   
    padding: 4px;
}

#canvas {
    height: 100%;
    border: 1px solid black;
    display: grid;
    /*grid-template-columns: repeat(size, 1fr); Now JS handles the column-template*/
}

.canvas-dot {
    border: 1px solid red;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #322540; 
    padding: 25px 0;   
    text-align: center;
    color: #fdc4c5;
}